@{
    ViewData["Title"] = "Cadastro Existente";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<div class="card-body" Align="center">
    <h2>Informações já cadastradas!</h2>
    <br />
    <p>Em caso de dúvidas entre em contato com seu ADM ou Diretor de Divisão.</p>
    <br />
    <a asp-action="Index" class="btn btn-info">Retornar</a>
</div>