@{
    ViewData["Title"] = "Prazer !!!";
}

@{
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<div class="card-body" Align="center">

    <div class="card-body" Align="center">
        <p><img src="~/Theme/images/kvera.jpg" align="middle" height="200" width="350" /></p>
    </div>

    <h2>Olá Irmão!</h2>
    <br />
    <h3>Bem vindo ao maior motoclube da América Latina. Estamos honrados com a sua chegada.</h3>
    <br />
    <p>Este é o inicio da sua caminhada junto aos Insanos MC.</p>
    <br />
    <p>Preencha com atenção todos os dados solicitados, clicando no botão abaixo.</p>
    <br />
    <p><b><span style="color: #f00;">Importante: </span></b>Estas informações precisam ser enviadas obrigatoriamente dentro de 24 horas.</p>
    <br />
    <p><a asp-action="Create" class="btn btn-primary"> Formulário novo integrante</a></p>
    <br />
    <h2>Prazer, INSANOS !!!</h2>
</div>