
@{
    ViewData["Title"] = "Sucesso";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<div class="card-body" Align="center">
    <h2>Informações enviadas com sucesso!!!</h2>
    <br />
    <p>Em breve o ADM da sua Divisão irá contatá-lo para finalizar sua inscrição.</p>
    <br />
    <a asp-action="Index" class="btn btn-info">Retornar</a>
</div>